body {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-style: ; */
}

.clockhouse {
  width: 550px;
  height: 550px;
  background-color: black;
  /* margin-left: 20px; */
  border-radius: 50px;
  box-shadow: 10px 10px 10px gray;
  /* position: relative; */
}
.container {
  width: 520px;
  height: 520px;
  background-image: radial-gradient(rgb(16, 25, 49), black);
  /* background-color: black; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
}
.clock_number {
  color: white;
  font-size: larger;
  display: flex;
}
.number {
  font-weight: bold;
  font-size: 50px;
  transform: rotate(calc(30deg * var(--n)));
  text-align: center;
  position: absolute;
  inset: 20px;
  padding: 5px;
}
.number b {
  transform: rotate(calc(-30deg * var(--n)));
  display: inline-block;
}

#bar span {
  position: absolute;
  transform: rotate(calc(6deg * var(--n)));
  inset: -20px;
  text-align: center;
  padding: 8px;
}
#bar span p {
  width: 1px;
  height: 10px;
  background-color: white;
  display: inline-block;
  border-radius: 50px;
}
#bar span:nth-child(5n) p {
  background-color: white;
  width: 4px;
  height: 18px;
  border-radius: 50px;
  transform: translateY(3px);
}
.pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.centerdot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-left: 8px;
  margin-bottom: 5px;
}
.hourhand,
.minutehand,
.secondhand {
  --rotate: 0;
  position: absolute;
  border-radius: 20px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1dog));
  transform-origin: bottom;
}
.hourhand {
  width: 15px;
  height: 130px;
  background-color: white;
  border-radius: 50px;
}
.minutehand {
  width: 12px;
  height: 180px;
  background-color: white;
  border-radius: 50px;
}
.secondhand {
  width: 5px;
  height: 220px;
  /* background-image: linear-gradient(
    rgb(235, 105, 126),
    rgb(245, 156, 171),
    rgb(69, 43, 116),
    rgb(226, 96, 139)
  ); */
  /* background-color: rgb(230, 60, 117); */
  background-color: red;
  border-radius: 50px;
}
